<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>jurassic park I</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Matias Requelme</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de jurassic park/world</a></li>
			<li><a href="generic1">jurassic park I</a></li>			
			<li><a href="generic2">jurassic park II</a></li>
			<li><a href="generic3">jurassic park III</a></li>
			<li><a href="generic4">jurassic world</a></li>	
			<li><a href="generic5">jurassic world II</a></li>
			<li><a href="generic6">Jurassic World III</a></li>
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park I</h2>
							<p>(Fecha de lanzamiento 1993)</p>
						</header>
						<div class="content">
						     <p>Parque Jurásico (título original en inglés: Jurassic Park) es una película de ciencia ficción y aventuras dirigida por el cineasta estadounidense Steven Spielberg y estrenada en 1993. Su trama está basada en el libro homónimo de Michael Crichton y relata las vivencias de un grupo de personas en un parque de diversiones con dinosaurios clonados, creado por un filántropo multimillonario y un equipo de científicos genetistas. Durante una visita de evaluación antes de su apertura al público en general, los dinosaurios escapan y ponen en riesgo la vida de quienes se encuentran en el parque.</p>
						     <p>Parque Jurásico resultó ser un éxito con más de 900 millones USD recaudados en todo el mundo durante su exhibición original en cines y estuvo catalogada como la película con mayores recaudaciones en la historia del cine hasta el estreno de Titanic (1997). La crítica especializada elogió sus innovadores efectos especiales, la banda sonora de John Williams y la dirección de Spielberg. Además resultó galardonada con más de veinte premios, entre ellos tres Óscar por sus logros técnicos en efectos visuales y sonido. Después de su reestreno en 3D en 2013 para conmemorar el vigésimo aniversario de su estreno, se convirtió en la película en haber superado los mil millones USD de recaudación. En 2018, la Biblioteca del Congreso de Estados Unidos la reconoció por ser «cultural, histórica y estéticamente significativa» y quedó seleccionada para su preservación en el National Film Registry Parque Jurásico es considerada un hito en el desarrollo de los efectos visuales digitales y de la animatrónica en el cine. Su éxito dio lugar a una franquicia que incluye videojuegos, juguetes y atracciones en parques temáticos, así como cuatro secuelas —The Lost World: Jurassic Park (1997), Parque Jurásico III (2001), Jurassic World (2015) y Jurassic World: El reino caído (2018)—.</p>

						</div>
						<footer>
			        	</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>