<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>La historia de Jurassic park/World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Matias Requelme</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de jurassic park/world</a></li>
			<li><a href="generic1">jurassic park I</a></li>			
			<li><a href="generic2">jurassic park II</a></li>
			<li><a href="generic3">jurassic park III</a></li>
			<li><a href="generic4">jurassic world</a></li>	
			<li><a href="generic5">jurassic world II</a></li>
			<li><a href="generic6">Jurassic World III</a></li>
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>La historia de jurassic park/world</h2>
							
						</header>
						<div class="content">
						     <p>La saga Jurassic Park es una colección de novelas, películas, videojuegos y otros productos basados en una temática de parques de atracciones de dinosaurios clonados. Esta empezó cuando en 1990 Universal Studios compró los derechos de la novela de Michael Crichton para realizar una adaptación cinematográfica. La novela, de nombre Parque Jurásico, fue muy exitosa; así como la primera adaptación al cine, Jurassic Park, que tras su estreno en 1993 tuvo dos secuelas. Los desarrolladores Ocean Software, BlueSky Software, Sega of America y Telltale Games tuvieron los derechos para crear videojuegos basados en la saga desde 1993, creando varias entregas ambientadas en la misma.</p>
						     <p>Michael Crichton concibió en un primer momento un guión acerca de un pterosaurio siendo clonado a partir del ADN de un fósil. Tras tratar esa idea durante un tiempo, derivó finalmente en la concepción de un parque jurásico. Steven Spielberg supo que este estaba escribiendo una novela en 1989, cuando él y Crichton discutían acerca de un guión que iba destinado a una serie de televisión, ER.</p>
						     <p>Tras plantear la idea de un parque jurásico, Crichton decidió en su primer esbozo que su protagonista sería un joven. Sin embargo, la respuesta fue negativa, así que decidió reescribir la historia desde un punto de vista adulto; haciendo que tuviera mucho mejor recibimiento.</p>
						     <p>Finalmente, Parque Jurásico fue publicada en noviembre de 1990. En la primavera de ese año, se le envió un boceto original de la misma a Spielberg, que inmediatamente empezó la producción de su adaptación cinematográfica.</p>
						     <p>A continuación, se inició la escritura de su secuela después de que los lectores y Spielberg presionaran al propio Crichton. Inicialmente declinó todas las ofertas para hacerlo, pero cuando el cineasta le dijo que dirigiría una nueva adaptación si escribía una nueva novela, éste aceptó. Finalmente, en 1995 se publicó El mundo perdido; que como se anunció tuvo una adaptación en 1997.</p>
						     <p>Crichton confirmó que esta novela tenía elementos de la novela homónima de Sir Arthru Conan Doyle. Tras su estreno, se convirtió en un gran éxito, tanto de los críticos aficionados como de los profesionales.</p>
						     <p>Antes de que Crichton publicara Parque Jurásico, puso una cláusula no negociable de 1.5 millones de dólares, así como un sustancial porcentaje de los ingresos brutos, de las adaptaciones que se hicieran de la misma. Warner Bros. y Tim Burton, Columbia Pictures y Richard Donner, y 20th Century Fox y Joe Dante pujaron por sus derechos; y Universal Pictures pagó además 500.000 dólares a Crichton por adaptar su novela. No obstante, en mayo de 1990 decidió finalmente que Spielberg sería el encargado de hacerlo. Universal necesitaba desesperadamente dinero para mantener a flote su empresa, y en parte lo consiguió gracias a Jurassic Park, que se convirtió en un éxito de crítica y comercial.</p>
						     <p>Para la producción de la segunda película, Joe Johnston se acercó a Spielberg para poder dirigir la película. Aunque Steven tenía intención de dirigir él la primera secuela, estuvo de acuerdo en cederle el testigo durante la tercera entrega, si se realizara. Finalmente se estrenó en 1997 El mundo perdido: Parque Jurásico II; que también se convirtió en un éxito comercial, batiendo varios récords de taquilla. No obstante, sus críticas fueron mixtas.</p>
						     <p>Tras la segunda parte de la saga cinematográfica, la producción de la tercera se inició el 30 de agosto de 2000. Tal y como se había hablado, Johnston se convirtió en su director; quedando Spielberg como productor ejecutivo. Fue finalmente en 2001 cuando se estrenó Parque Jurásico III, la primera en no estar basada en una novela previa. Aunque tuvo éxito comercial, sus críticas fueron mixtas; alegando una calidad similar a la segunda parte de la saga.</p>
						     <p>Quince años después, se produjo una cuarta entrega. Spielberg ya concibió una idea para su historia en 2001, durante Jurassic Park III. Se produjeron algunos esbozos de guiones en 2003, 2004, 2006, 2011 y finalmente en 2012; que finalmente sirvieron para el proyecto. En 2013, Colin Trevorrow fue anunciado como director y co-guionista; programando el estreno de Jurassic World para el 12 de junio de 2015.</p>
						     <p>Tres años después se estrenaría Jurassic World: Fallen Kingdom, la secuela directa de Jurassic World, que se estrenó el 7 de junio en España y el estreno internacional el día 22 del mismo mes del año 2018.<p>
						     <p>Actualmente, está siendo rodada la siguiente entrega, Jurassic World: Dominion, cuyo estreno está previsto para mediados del año próximo y marcará el final de la trilogía secundaria Jurassic World.</p>

						</div>
						<footer>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>