<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>jurassic park III</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Matias Requelme</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de jurassic park/world</a></li>
			<li><a href="generic1">jurassic park I</a></li>			
			<li><a href="generic2">jurassic park II</a></li>
			<li><a href="generic3">jurassic park III</a></li>
			<li><a href="generic4">jurassic World</a></li>	
			<li><a href="generic5">jurassic world II</a></li>
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park III</h2>
							<p>(Fecha de lanzamiento 2001)</p>
						</header>
						<div class="content">
						     <p>Parque Jurásico III es la secuela de 2001 de la película de 1997 El mundo perdido: Parque Jurásico II, y es la primera de la serie que no se basa en un libro de Michael Crichton ni está dirigida por Steven Spielberg, quien sólo está al mando de la producción ejecutiva. El director de la película es Joe Johnston.</p>
							 <p>La película comienza a las afueras de la isla Sorna que ahora es una zona restringida y es constantemente vigilada para que nadie se acerque, mientras tanto a unos cuantos metros se encuentra un bote que ofrece un servicio de paracaidismo a Eric Kirby (Trevor Morgan) y Ben Hildebrand (Mark Harelik) para filmar unas tomas de la isla. Todo ocurre de manera normal, hasta que, una misteriosa niebla cubre el bote, Eric y Ben continúan arriba filmando la isla cuando repentinamente la soga tiembla después Eric y Ben voltean para ver que paso abajo y descubren que el bote está rasguñado y sin nadie en el timón (suponiendo que los ocupantes fueron devorados por un dinosaurio desconocido al momento de pasar por la niebla) Eric y Ben no tienen más remedio que cortar la soga y alejarse mientras el bote se estrella con un arrecife, el paracaídas sigue en dirección a la isla dejando a ambos atrapados ahí.</p>
							 <p>2 meses después del incidente del paracaídas perdido, el paleontólogo Alan Grant (Sam Neill) se encuentra visitando a su antigua compañera y amiga la Dra. Ellie Sattler (Laura Dern) y a su hijo Charlie luego del incidente en la Isla Nublar, del cuál habian pasado 3 años. Mientras cenaban, Alan le habla a Ellie sobre los velociraptores de su reciente excavación deduciendo que estos si podían coordinar sus ataques y trabajar en equipo para que las presas se confundieran. Además, Alan agrega de que eran más listos que los delfines y las ballenas. Más tarde Alan se despide de Ellie y luego ella le dice que si algún día se encuentra en problemas, solo tiene que llamarla.</p>
							 <p>Al día siguiente, Alan se encuentra dando una tesis sobre los velociraptores para lograr conseguir fondos para sus investigaciones, aunque al final cuando concluye la presentación la decano de la universidad les pregunta al público si tienen una pregunta, en ese momento todos levantan la mano, sin embargo Grant les dice al publico que responderá alguna pregunta que no tenga relación con Jurassic Park o el incidente en San Diego, del cual él no fue testigo. Aunque al principio nadie pregunta nada, Grant solo responde dos preguntas, una de esas era que si tuviera la oportunidad de ir a la Isla Sorna iría, pero este escéptico a la pregunta responde que ni con todo el dinero del mundo pondrá un pie en la isla.</p>

						</div>
						<footer>
						
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>