<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>la historia de jurassic park/world</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Created De Content <span>by Matias Requelme</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de jurassic park/world</a></li>
			<li><a href="generic1">jurassic parck I</a></li>			
			<li><a href="generic2">jurassic parck II</a></li>
			<li><a href="generic3">jurassic parck III</a></li>
			<li><a href="generic4">jurassic World</a></li>	
			<li><a href="generic5">jurassic world II</a></li>
			
		</ul>
	</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>la historia de jurassic park/world</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>la historia de parke jurasico</h2>
							
						</header>
						<div class="content">
							<p>La saga Jurassic Park es una colección de novelas, películas, videojuegos y otros productos basados en una temática de parques de atracciones de dinosaurios clonados. Esta empezó cuando en 1990 Universal Studios compró los derechos de la novela de Michael Crichton para realizar una adaptación cinematográfica. La novela, de nombre Parque Jurásico, fue muy exitosa; así como la primera adaptación al cine, Jurassic Park, que tras su estreno en 1993 tuvo dos secuelas. Los desarrolladores Ocean Software, BlueSky Software, Sega of America y Telltale Games tuvieron los derechos para crear videojuegos basados en la saga desde 1993, creando varias entregas ambientadas en la misma.</p>
						</div>
						<footer>
							<a href="/generic" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Leer Mas</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park I</h2>

						</header>
						<div class="content">
							<p>Parque Jurásico (título original en inglés: Jurassic Park) es una película de ciencia ficción y aventuras dirigida por el cineasta estadounidense Steven Spielberg y estrenada en 1993. Su trama está basada en el libro homónimo de Michael Crichton y relata las vivencias de un grupo de personas en un parque de diversiones con dinosaurios clonados, creado por un filántropo multimillonario y un equipo de científicos genetistas. Durante una visita de evaluación antes de su apertura al público en general, los dinosaurios escapan y ponen en riesgo la vida de quienes se encuentran en el parque.</p>
						</div>
						<footer>
							<a href="/generic1" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Leer Mas</a>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park II</h2>
						
						</header>
						<div class="content">
							<p>estrenada en 1997, segunda entrega de la franquicia de Parque Jurásico. Siendo la secuela de la película de 1993 Parque Jurásico, el filme fue dirigido por Steven Spielberg y escrito por David Koepp, basándose de forma muy libre en la novela homónima de Michael Crichton. Jeff Goldblum, que repite en el papel del excéntrico matemático Ian Malcolm, encabeza un reparto que completan Julianne Moore, Pete Postlethwaite y Vince Vaughn. Goldblum es el único actor de la exitosa primera entrega que repite en un rol protagonista, aunque la película cuenta con cameos de Richard Attenborough como John Hammond y de Joseph Mazzello y Ariana Richards como sus nietos.</p>
						</div>
						<footer>
							<a href="/generic2" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Leer Mas</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park III</h2>
							
						</header>
						<div class="content">
							<p>Parque Jurásico III es la secuela de 2001 de la película de 1997 El mundo perdido: Parque Jurásico II, y es la primera de la serie que no se basa en un libro de Michael Crichton ni está dirigida por Steven Spielberg, quien sólo está al mando de la producción ejecutiva. El director de la película es Joe Johnston</p>
						</div>
						<footer>
							<a href="/generic3" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Five -->
			<section id="four" class="wrapper post bg-img" data-bg="banner6.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic world</h2>
							
						</header>
						<div class="content">
							<p>Jurassic World es una película de ciencia ficción de 2015, la cuarta de la saga Jurassic Park. Fue dirigida por Colin Trevorrow. Originalmente se indicó el 13 de junio de 2014 como fecha de estreno, aunque finalmente fue el 12 de junio de 2015. Su guión corre a cargo de Rick Jaffa, Amanda Silver, Derek Connolly, y Trevorrow. Steven Spielberg, director de las dos primeras entregas, actúa de productor ejecutivo</p>
						</div>
						<footer>
							<a href="/generic4" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Six -->
			<section id="four" class="wrapper post bg-img" data-bg="banner7.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic world II</h2>
							
						</header>
						<div class="content">
							<p>la secuela de Jurassic World (2015). Dirigida por J. A. Bayona,es la segunda entrega de la trilogía De Mundo Jurásico, y la quinta entrega general de la franquicia de Parque Jurásico.<p>
							
						</div>
						<footer>
							<a href="/generic5" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contactanos</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="nombre">Nombre</label>
							<input name="Nombre" id="Nombre" type="text" placeholder="Nombre">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Mensaje</label>
							<textarea name="mensaje" id="message" rows="6" placeholder="Mensaje"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Enviar Mensaje" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>
</html>