<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>jurassic park II</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Matias Requelme</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de jurassic park/world</a></li>
			<li><a href="generic1">jurassic park I</a></li>			
			<li><a href="generic2">jurassic park II</a></li>
			<li><a href="generic3">jurassic park III</a></li>
			<li><a href="generic4">jurassic world</a></li>	
			<li><a href="generic5">jurassic world II</a></li>
			<li><a href="generic6">Jurassic World III</a></li>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>jurassic park II</h2>
							<p>(Fecha de lanzamiento 1997)</p>
						</header>
						<div class="content">
						     <p>estrenada en 1997, segunda entrega de la franquicia de Parque Jurásico. Siendo la secuela de la película de 1993 Parque Jurásico, el filme fue dirigido por Steven Spielberg y escrito por David Koepp, basándose de forma muy libre en la novela homónima de Michael Crichton. Jeff Goldblum, que repite en el papel del excéntrico matemático Ian Malcolm, encabeza un reparto que completan Julianne Moore, Pete Postlethwaite y Vince Vaughn. Goldblum es el único actor de la exitosa primera entrega que repite en un rol protagonista, aunque la película cuenta con cameos de Richard Attenborough como John Hammond y de Joseph Mazzello y Ariana Richards como sus nietos</p>
						     <p>La trama está ambientada cuatro años después de los sucesos del filme original y se desarrolla en la ficticia isla Sorna, ubicada en el Pacífico frente a Costa Rica, donde los dinosaurios clonados creados por la empresa InGen de Hammond vagan en libertad en su propio ecosistema. Hammond tiene noticia de que su sobrino, que se ha hecho cargo de InGen, quiere capturar a los animales y trasladarlos al continente para exhibirlos. Por ello, decide enviar una expedición secreta liderada por Malcolm que llegue a la isla antes que el equipo de su sobrino. Ambos equipos chocarán en medio de un lugar extremadamente peligroso y deberán intentar sobrevivir bajo el acecho de los temibles animales prehistóricos.</p>
						     <p>Después del éxito clamoroso de la primera novela y su adaptación al cine, Crichton fue presionado por los aficionados y por el propio Spielberg para escribir una continuación. Publicada ésta en 1995, la producción cinematográfica se puso en marcha de inmediato y se estrenó dos años después. La trama y el tono de la secuela son sustancialmente más oscuros que en la historia original y la película incluye bastantes más animales creados con animación digital y animatrónica. Ni la crítica ni el público quedaron tan satisfechos como con Parque Jurásico, pero esta continuación recaudó la importante cantidad de 618 millones de USD y fue seguida por una tercera entrega, Parque Jurásico III, que llegó a los cines en 2001.</p>

						</div>
						<footer>
							
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>